.btn{
  padding: 21px 45px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  width: fit-content;
  text-transform:uppercase;
}
.btn-primary{
  background-color: white;
  color: var(--primary);
}


@media (max-width: 576px) {
  .btn {
    padding: 16px 30px;
    font-size: 16px;
  }
}