@font-face {
  font-family: "AvenirLTStd";
  src: url('./../../assets/fonts/avenir/AvenirLTStd-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url('./../../assets/fonts/avenir/AvenirLTStd-Heavy.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url('./../../assets/fonts/avenir/AvenirLTStd-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-AvenirLTStd-Medium {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 500;
}
.font-AvenirLTStd-Heavy {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 700;
}
.font-AvenirLTStd-Black {
  font-family: "AvenirLTStd", sans-serif;
  font-weight: 900;
}
