@font-face {
  font-family: "Causten-Regular";
  src: url('./../../../assets/fonts/causten-regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Causten-SemiBold";
  src: url('./../../assets/fonts/causten-semiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Causten-Bold";
  src: url('./../../assets/fonts/causten-bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dahlia-Regular";
  src: url('../../../assets/fonts/dahlia-regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dahlia-Bold";
  src: url('./../../assets/fonts/dahlia-bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.Causten-Regular {
  font-family: "Causten-Regular", sans-serif;
  font-weight: 400;
}
.Causten-Semi-Bold {
  font-family: "Causten-SemiBold", sans-serif;
  font-weight: 600;
}
.Causten-Bold {
  font-family: "Causten-Bold", sans-serif;
  font-weight: 700;
}
.Dahlia-Regular {
  font-family: "Dahlia-Regular", sans-serif;
  font-weight: 400;
}
.Dahlia-Bold {
  font-family: "Dahlia-Bold", sans-serif;
  font-weight: 700;
}
