@font-face {
  font-family: "Gilroy-Regular";
  src: url('./../../assets/fonts/gilroy-regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url('./../../assets/fonts/gilroy-semibold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url('./../../assets/fonts/gilroy-bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dahlia-Regular";
  src: url('./../../assets/fonts/dahlia-regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dahlia-Bold";
  src: url('./../../assets/fonts/dahlia-bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.Gilroy-Regular {
  font-family: "Gilroy-Regular";
  font-weight: 400;
}
.Gilroy-Semi-Bold {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
}
.Gilroy-Bold {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}
.Dahlia-Regular {
  font-family: "Dahlia-Regular";
  font-weight: 400;
}
.Dahlia-Bold {
  font-family: "Dahlia-Bold";
  font-weight: 700;
}
