:root {
  --primary: #E0709D;
  --primary-light: #F1A3A9;
  --brown: #B88326;
  --green-light: #6CB6AD;
  --yellow: #F8DA5D;
  --gray-3: #818181;
  --gray-light: #F4F2F0;
  --gray-light-2: #F9F9FA;
  --bright-gray: #eaeaea;

  --font-family: "Causten-Regular", sans-serif;
  --section-padding: clamp(45px, 7vw, 100px) 0;
  --heading-color: #242424;
}
