:root {
  --primary: #95449c;
  --secondary: #fe9900;
  --blue: #4266b2;
  --gray: #333333;
  --gray-2: #30333a;
  --gray-3: #818181;
  --gray-light: #F4F2F0;
  --gray-light-2: #F9F9FA;
  --bright-gray: #eaeaea;

  --font-family: "AvenirLTStd", sans-serif;
  --section-padding: clamp(45px, 7vw, 100px) 0;
  --heading-color: #323232;
}
